<nav class="custom-sidebar">
	
	<ul class="sidebar-menu">
		<li><i class="pi pi-bars"></i></li>
		<div class="icons">
		<li routerLink="/home" class="dashboardIcon"><mat-icon style="margin-right: 10px;">dashboard </mat-icon>Dashboard</li>
		<li routerLink="/enter-pricing"><i class="pi pi-chart-bar"></i> Enter My Pricing</li>
		
		<li><i class="pi pi-chart-line"></i> Insights</li>
		</div>
	</ul>
</nav>
<div class="topbar">
	<div class="sidebar-logo">
		<img src="assets/image.png" alt="Logo" class="logo-image" height="50" width="180"/>
	</div>
	<div class="topbar-left">
		<span class="customer-label">Customer Name</span>
		<span class="customer-value">Ardent Health - Sports Medicine</span>
	</div>
	<div class="topbar-center1" style="display:flex; flex-direction:column; align-items:flex-start; gap:2px; min-width:100px; max-width:140px; width:100%;">
	<span class="facility-label">Facility</span>
		<mat-form-field appearance="fill" class="facility-dropdown" style="font-size:0.9rem; width:100%; margin-bottom:0;">
			<mat-select [formControl]="toppings" multiple style="font-size:0.9rem; min-height:28px;">
				<mat-option *ngFor="let facility of facilities" [value]="facility.value">{{facility.label}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="topbar-center2" style="display:flex; flex-direction:column; align-items:flex-start; gap:2px; min-width:90px; max-width:120px; width:100%;">
	<span class="view-label">Selected View:</span>		<mat-form-field appearance="fill" class="view-dropdown" style="font-size:0.9rem; width:100%; margin-bottom:0;">
			<mat-select [(ngModel)]="selectedView" name="view" style="font-size:0.9rem; min-height:28px;">
				<mat-option *ngFor="let view of views" [value]="view.value">{{view.label}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	
	<div class="topbar-right">
		<button pButton icon="pi pi-question-circle" class="p-button-text p-button-rounded" style="font-size:1.3rem;"></button>
		<div class="topbar-avatar p-d-flex p-ai-center p-jc-center" style="width:40px; height:40px; border-radius:50%; font-family:'Inter',sans-serif;">AB</div>
	</div>
</div>
<div class="main-content"><router-outlet></router-outlet></div>
